@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
  font-family: 'Roboto', sans-serif;;
  /* padding-top: 54px; */
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    /* padding-left: 17rem; */
  }
}
/* ----------------------------------------------
Sidebar Navigation
-----------------------------------------------*/
.bg-primary {
    background-color: #4fbfaf !important;
}
/* navigation */
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255,255,255,.5);
}

/* -----------------------------------------------------
                    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 24px; 
  }
  /* navigation */
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item:hover {
      background-color: white;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
      color: #4fbfaf;
  }
  /* icons */
  #sideNav .navbar-nav .nav-item .nav-link-icon {
      color: #495057;
  }
  #sideNav .navbar-nav .nav-item .nav-link-icon:hover {
      color: rgba(255,255,255,.5);
  }
}
